five-tool {
    box-shadow: 0 0 6px rgba(3, 169, 243, 0.5);
    background-color: #fff;
    display: block;
    position: fixed;
    top: 12px;
    left: 12px;
    display: flex;
    border-radius: 3px;
    z-index: 999999999;
}

five-tool svg {
    height: 16px;
    display: block;
    fill: #999;
    pointer-events: none;
}

five-btn {
    padding: 12px;
}

five-tool svg:hover,
.__five-on svg {
    fill: rgba(3, 169, 243, 1);
}

five-cover,
five-node {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(3, 169, 243, 0.1);
    pointer-events: none;
    z-index: 99;
    display: none;
    outline: 0.6px dashed rgba(3, 169, 243, 0.75);
    outline-offset: 0.6px;
}

five-node {
    background: rgba(255, 192, 203, 0.3);
    outline-color: rgba(255, 192, 203, 0.75);
    z-index: 999;
}

.__five-can svg {
    fill: rgba(255, 192, 203, 1);
}

.__hover {
    position: relative;
}

.__hover:after {
    content: '';
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 169, 243, 0.1);
    outline: 1px dashed rgba(3, 169, 243, 1);
    outline-offset: -1px;
    pointer-events: none;
}

.__five-btns {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
}

.__five-btn {
    line-height: 22px;
    padding: 4px 10px;
    font-size: 12px;
    background-color: rgba(3, 169, 243, 0.9);
    color: white;
    border-radius: 28px;
    font-weight: 300;
    cursor: pointer;
    pointer-events: auto;
}

.__five-fn {
    display: flex;
}

.__five-relative {
    position: relative !important;
}

.__five-scroll-hide::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.__five-hide {
    display: none !important;
}

.__five-show {
    display: block !important;
}

.__five-opacity {
    opacity: 0.6 !important;
}
